header {
	height: 300px;
	width: 100%;
	background: url(imgs/footer1.jpg) no-repeat left top;
	margin: 0;
}

body {
	background: #7ba05b;
}

footer {
	height: 200px;
	background: url(imgs/footer.jpg) repeat-x none bottom;
}


.headerbtns {
	background: none;
	width: 800px;
	height: 50px;
	float: left;
	margin: 2px;
}

.but {
	background: #008000;
	width: 231px;
}

h1 {
	color: #9932cc;
	font-size: 50px;
	margin-left:30px;
}


/*.bar {
	background: #111;
	width: 100px;
	height: auto;
	float: right;
	margin: 10px;
}
	*/