#header {
	background: url(imgs/footer1.jpg) no-repeat left top;
	position: absolute;
	height: 300px;
	width: 100%;
	margin: 0;
}

body {
	background: #7ba05b;
}

footer {
	height: 200px;
	background: url(imgs/footer.jpg) repeat-x none bottom;
}


#headerbtns {
	background: none;
	width: 1165px;
	height: 50px;
	float: left;
	margin: 2px;
}

.but {
	background: #008000;
	width: 231px;
	
}

h1 {
	color: #ffd700;
	font-size: 50px;
	margin-left: 10px;
	margin-top: 0;
	
}


/*.bar {
	background: #111;
	width: 100px;
	height: auto;
	float: right;
	margin: 10px;
}
	*/